[user]
	name = Nick Clarke
	email = nickolasclarke@gmail.com
[core]
	editor = vim
[color]
	ui = auto
[pull]
	rebase = true
[alias]
	s = status -s
	lg = log --oneline --decorate --all --graph
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
